# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

./src/waveformgenerator
./test/test.txt
./src/.DS_Store
./test/.DS_Store
*.DS_Store

